body{
    font-family: 'Inter', sans-serif;
}
*{
    margin:0;
}

.about{
    width: 500px;
    height:500px;
    /* background-color: red; */
    margin:50px;
    position:absolute;
}

.box1{
    width:302px;
    height:302px;
}

.box2{
    width:243px;
    height:243px;
}

.box3{
    width:240px;
    height:240px;
}

.box1{
    /* background-color:black; */
    position:absolute;
    top:82px;
    left:116px;
    z-index:5;
}

.box2{
    /* background-color:green; */
    position:relative;
    top:125px;
    left:145px;
    z-index:1;
}

.box3{
    /* background-color:grey; */
    position:relative;
    bottom:100px;
    left:155px;

    z-index:2;
}

.box1 img{
    max-height:302px;
    object-fit:cover;
}

.box2 img{
    max-height:243px;
    object-fit: cover;
}

.box3 img{
    /* max-width:100%; */
    max-height:240px;
    object-fit: cover;
}

.box{
    position:absolute;
    z-index:4;
    top:213px; 
    left:92px;
    /* border: 1px solid black; */
    border-radius:10px;
    background:#FF6123;
    width:100px;
    height:77px;
    /* overflow:hidden; */
    box-sizing: border-box;
    color:white;
}
 h3{
    margin-left:10px;
    margin-top:10px;
    font-size:15px;
}

p{
    margin:10px;
    font-size:13px;
    /* padding-bottom:10px; */
}

.section{
    display:flex;
    /* width:100%; */
    height:600px;
}

.about{
    width:40%;
    /* border:1px solid green; */
}

.about-content{
    width:40%;
    /* border:1px solid red;             */
}

.tution{
    display:flex;
    margin:10px;
    width:100%;
}


.T1{
    width:49%;
    /* border:1px solid green; */
    height:650px;
    margin:2px;
}

.T2{
    width:35%;
    /* border:1px solid green; */
    height:650px;
    margin:2px;
}

.fit{
    margin-top:165px;
    padding:15px;
    /* border:1px solid red; */
}

.fit h1,
.fit h4{
    padding-left:10px;
}

.fit img{
    width:5%;
}
.fit h3{
    font-size:22px;
    line-height:5px;
    font-weight:600;
    margin-bottom:20px;
}

.fit h4{
    font-size:12px;
    line-height:3px;
    font-weight:500;
    margin-bottom:15px;
}

.fit p{
    color:#666666;
    font-size:9px;
    /* font-height:3px; */
    line-height:14px;
    font-weight:300;
    
}

.drawer{
    display:flex;
    /* padding-bottom:20px; */
    /* border: 1px solid red; */
    position:relative;
    bottom:30px;
    /* right:5px; */
    left:10px;

}

.S1{
    width:100px;
    height:100px;
    /* border:1px solid red; */
    margin: 5px;
 
}

.S1 h3{
    font-size:15px;
    font-weight:600;
    color:#FFBA00;
}

.S1 p{
    padding-left:1px;
    font-size:12px;
    /* margin:2px; */
    /* padding-bottom:10px; */
    font-weight:500;
    position:relative;
    bottom:7px;
}

.read{
    border:1px solid white;
    text-align:center;
    width:100px;
    height:30px;
    border-radius:30px;
    background-color: #FF6123;
    position:relative;
    bottom:75px;
    left:25px;
}
.read h5{
    font-size:11px;
    color:white;
    position:relative;
    top:7px;

    /* left:18px; */
    /* bottom:12px; */
    /* color:black; */
}

.video{
    background-image: url('./images/imag.png');
    background-size:100% 500px;
    /* background-size:cover; */
    background-repeat: no-repeat;
    /* position:relative; */
    width:100%;
    height:500px;
}
.design{
    background: #42332E;
    opacity:80%;
    height:500px;
    align-items:center;
    /* position:relative; */
    /* left:580px; */
    /* top:100px; */
    /* z-index:3; */
}


.box4im{

    position:relative;
    width:6%;
}


.box5im{
    position:relative;
    bottom:62px;
    left:16px;
    width:3.5%;
}



.box6im{
    /* border: 1px solid grey; */
    position:relative;
    bottom:100px;
    left:30px;
    width:1.5%;
}

.logo{
    position:relative;
    top:100px;
    left:580px;
}

.vtext{
    /* border: 1px solid white; */
    width:500px;
    color:white;
    position:relative;
    top:70px;
    left:400px;
}
.vtext p{
    position:relative;
    bottom:35px;
}

.vtext h1{
    position:relative;
    /* right:150px; */
    bottom:55px;
}

.heading{
    margin-left:170px;
}

.after{
    /* border:1px solid white; */
    text-align:center;
    position:relative;
    /* right:120px; */
    bottom:20px;

}


.read1{
    /* border: 1px solid grey; */
    width:120px;
    height:20px;
    text-align:center;
    padding-top:8px;
    margin-left:160px;
    position:relative;
    bottom: 30px;
    border-radius:30px;
    background-color: #FF6123;
}

.vtext h6{
    position:relative;
    /* left:25px; */
}

.div{
    /* height:100px;
    width:100%; */
    background:green;
    border:1px solid black;
    border-radius:10px;
}

.container{
    margin-top:5px;
    height:900px;
    width:900px;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: 200px 200px 200px;
    grid-gap:10px;
    margin-left:150px;
}

.N1{
    grid-column:1/7;
    grid-row:1/3;
}

.N2{
    grid-column:7/10;
}
.N3{
    grid-column:10/-1;
}

.N4{
    grid-column:7/10;
}
.N5{
    grid-column:10/-1;
}
.N6{
    grid-column:1/4;
}
.N7{
    grid-column:4/7;
}
.N8{
    grid-column:7/-1;
}

.N1 img{
    width:100%;
    height:410px;
}

.N2 img, .N3 img, .N4 img, .N5 img, .N6 img, .N7 img, .N8 img{
    width:100%;
    height:200px;
}

.first1, 
.first2, 
.first3, 
.event{
    display:flex;
}
.first1 img{
    width:70px;
    height:70px;
}

.first2 img {
    width:30px;
    height:30px;
    margin-top:14px;
}

.first3 img{
    width:51px;
    height:30px;
    margin-top:14px;
}



.event{
    /* border:1px solid red; */
    justify-content:center;
}

.first1, .first2, .first3{
    /* border:1px solid green; */
    margin-right:25px;
}

.first2, .first3, .button{
    margin-left:25px;
}

.first2 h4, .first3 h4{
    margin-left:15px;
    margin-top:20px;

}

.button{
    margin-top:15px;
    /* border: 1px solid red; */
    /* margin-bottom:1px; */
    /* padding:10px; */
}
.button h5{
    /* border:1px solid red; */
    margin-bottom:10px;
    padding:  6px 20px;
    border-radius: 15px;
    background:#FF6123;
    color: #FFF;
}

.life{
    /* border:1px solid red; */
    width:915px;
    margin-left: 200px;
}
hr{
    margin-top:8px;
    opacity:8%;
}


.card{
    width:250px;
    height: 340px;
    border: 1px solid blue;
}

.card img{
    width:100%;
    height:190px;
}

.content{
    display:flex;
    margin-top: 10px;
}
.content h6{
    font-size:9px;
    margin-left:15px;
}

.content-color{
    color:gold;
}

.content-date{
    /* border: 1px solid red; */
    position:relative;
    left:70px;
}

.level{
    /* border:1px solid red; */
    position:relative;
    /* bottom:20px; */
    top:10px;
}
.level h4{
    font-size:12px;
    /* margin-bottom:10px; */
    margin-left:15px;
}

.level p{
    font-size:10px;
    margin-left: 15px;
}

.level h6{
    margin-left:17px;
    /* border:1px solid green; */
    width:60px;
    padding: 6px 12px;
    border-radius: 15px;
    background:#FF6123;
    color: #FFF;
}

.card-box{
    margin-left:100px;
    margin-top:50px;
    /* justify-content:center; */
}

.insta{
    height:400px;
    background:url("./images/insta/Rectangle 225.png");
    background-size:100% 400px;;
    /* background-size:cover; */
    background-repeat: no-repeat;
    margin-top: 10px;
}

.person1, .person2, .person3{
    height:250px;
    width:245px;
    margin:10px;

}

.person1 img, .person2 img, .person3 img {
    width:100%;
    height:245px;   
    margin-left:10px; 
}

.personal-box{
    height:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(0, 0, 0, 60%);
}

.info{
    position:relative;
    left:475px;
    bottom:270px;
    color:white;
}

.info span{
    color:#FF6123;
}

.info h6{
    width:60px;
    padding:  9px 20px;
    border-radius: 15px;
    background:#FF6123;
    margin-left:100px;
    margin-top:40px;
}

.appoinment{
    margin-top:20px;
    text-align:center;
}

.row-one{
    display:flex;
    margin:5px;
}

.form-style{
    /* border:1px solid red; */
    margin:10px;
    padding:25px;
    width:320px;
    /* justify-content:center; */
    margin-left:400px;
}

input{
    margin:5px;
    /* border-radius:1px; */
}

.details input{
    width:95%;
    height: 40px;
}

.form h6, .details h6{
    margin-left:5px;
}

.request{
    /* border:1px solid red; */
    width:120px;
    margin-top:10px;
    margin-left:110px;
    border-radius:15px;
    background:#FF6123;
    color: #FFF;
}

.request h6{
    padding:5px;
    text-align:center;
}

.round{
    /* height:25px; */
    /* width:25px; */
    /* background:black; */
    /* margin-left:50px; */
}

.round img{
    width:7px;
    position:relative;
    top:10px;
    left:10px;
} 

.set{
    position:relative;
    left:10px;
    bottom:20px;
}

.shadow{
    background:red;
    border-radius:50%;
    height:40px;
    width: 40px;
    margin-left:100px;
    margin-top:120px;
    position:relative;
    top:20px;
}

.shadow-box{
    /* border:1px solid white; */
    position:relative;
    /* top: 10px; */
}

.shadow-content{
    height:180px;
    width:330px;
    border:1px solid red;
    /* background:yellow; */
    padding:2px;
    margin-left:50px;

}

.shadow-info{
    position: relative;
    top:30px;
}

.circle{
    height:500px;
    border:1px solid red;
    /* background:blue; */

}

.circle-box{
    display:flex;
}
.shadow-table{
    /* border:1px solid red; */
}
.name{
    display:flex;
    margin-left: 10px;
    position:relative;
    top:38px;
}

.name-content{
    position:relative;
    top:10px;
}

.name-content h5{
    position:relative;
    left: 10px;
    top:5px;
}

.dot{
    margin-top:20px;
    margin-left:550px;
}

.dot-vector{
    width: 0.8%;
    opacity:40%;
}

.dot-big{
    width:1.5%;
}

.dot img{
    margin:2px;
}
.contact-area{
    /* background:red; */
    height:500px;
}

.contact{
    display:flex;
    height:350px;
    /* border:1px solid white; */
    margin-left: 300px;
}
.contact-name{
    display:flex;
}

.name-box{
    /* border:1px solid black; */
    width: 35%;
    margin-left:10px;
    margin-top:50px;
    padding:5px;
}

.name-box input{
    height:25px;
}
.wider{
    width:88%;
}

.length input{
    height:60px;
}

.name-box h6{
    margin-left: 7px;
}

.contact-img{
    width:35%;
    background:#7C2FE6;
    opacity:80%;
}

.contact-img img{
    width:100%;
    height:350px;
    object-cover:fit;
}

.press{
    width: 96px;
    /* border: 1px solid green; */
    padding:6px 13px;
    margin-top: 20px;
    background:red;
    border-radius:30px;
    color:#fff;

}
